---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution?appid=62e817e7c30005323d257f62cc4b63ff&lat=37.77493&lon=-122.41941
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.4194,"lat":37.7749},"list":[{"main":{"aqi":2},"components":{"co":196.93,"no":0.11,"no2":0.58,"o3":75.82,"so2":1.24,"pm2_5":3.85,"pm10":6.32,"nh3":0.07},"dt":1689545244}]}'
  recorded_at: Sun, 16 Jul 2023 22:07:24 GMT
recorded_with: VCR 6.2.0
